.new-item {
    cursor: pointer;
}

.spinner-override {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

.slds-section__title {
    background-color: #f3f2f2;
    padding: .25rem .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: bold;
}